@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inputLabelStyle {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  font-style: italic;
  margin-left: 1rem;
}

@mixin inputBorderStyle {
  border-top: .2rem solid $color-grey;
  border-left: .2rem solid $color-grey;
  border-bottom: .2rem solid $color-grey-light;
  border-right: .2rem solid $color-grey-light;
  border-radius: 1rem;
}

// max-width: px / 16
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; // 600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; // 900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; // 1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; // 1800px
  }
}