// COLORS
// ========================

// neutrals
$color-white: #fff;
$color-grey-light: #eee;
$color-grey-light-2: #ddd;
$color-grey: #888;
$color-grey-dark: #333;
$color-grey-dark-2: #555;
$color-black: #000;

// palette
$color-primary: #4EBDEC;	// Main Primary color

$color-secondary: #FFDB4D;	// Main Secondary color
$color-edit: #FFDB4D;	// Main Edit color
$color-warning: #FFDB4D;	// Main Warning color

$color-tertiary: #FD4C61;	// Main tertiary color
$color-delete: #FD4C61;	// Main delete color
$color-error: #FD4C61;	// Main error color
$color-cta: #FD4C61; // Main cta color

// FONT
$default-font-size: 1.6rem;

// COMMON STYLES
$shadow-high: 0 .6rem 1.8rem rgba($color-black, .4);
$shadow-low: 0 .3rem .9rem rgba($color-black, .6);
$max-container-width: 100rem;