// COLORS
// ========================

// neutrals
$color-white: #fff;
$color-grey-light: #eee;
$color-grey-light-2: #ddd;
$color-grey: #888;
$color-grey-dark: #333;
$color-grey-dark-2: #555;
$color-black: #000;

// palette
// $color-primary: #4EBDEC;	// Main Primary color
$color-primary: rgb(46, 147, 230);	// Main Primary color

// $color-secondary: #FFDB4D;	// Main Secondary color
$color-secondary: rgb(255, 183, 28);	// Main Secondary color
$color-edit: $color-secondary;	// Main Edit color
$color-warning: $color-secondary;	// Main Warning color

// $color-tertiary: #FD4C61;	// Main tertiary color
$color-tertiary: rgb(243, 52, 77);	// Main tertiary color
$color-delete: $color-tertiary;	// Main delete color
$color-error: $color-tertiary;	// Main error color
$color-cta: $color-tertiary; // Main cta color

// FONT
$default-font-size: 1.6rem;

// COMMON STYLES
$shadow-high: 0 .6rem 1.8rem rgba($color-black, .4);
$shadow-low: 0 .3rem .9rem rgba($color-black, .6);
$max-container-width: 100rem;
$max-text-width: 70rem;