.nav-menu {
  background-color: $color-grey-light;
  padding: 0 2vw;
  
  display: flex;
  justify-content: space-between;
  
  @include respond(phone) {
    justify-content: center;
  }

  &__logo {
    max-width: 5rem;
    max-height: 5rem;
    cursor: pointer;

    img {
      width: 100%;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    padding: .5rem 2vw;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .1rem;
    transition: all .4s;

    display: flex;
    align-items: center;
    
    &:not(:last-child) {
      border-right: .1rem solid $color-grey-light-2;
      
      @include respond(phone) {
        border-right: none;
        position: relative;
      }
    }

    @include respond(phone) {
      font-size: 2.5rem;
      padding: 0;
    }
    
    &:hover:not(.nav-menu__item--hamburger) {
      background-color: $color-grey-light-2;
    }

    &--hamburger {
      display: none;

      @include respond(phone) {
        display: flex;
        margin: 3.5rem;
        margin-top: 2.5rem;
        
        &, &::before, &::after {
          display: block;
          border-bottom: .2rem solid $color-grey-dark;
          width: 3rem;
          padding-bottom: 1rem;
        }
        
        &::before, &::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all .3s;
        }

        &::before { top: -1.2rem; }
        &::after { top: 1.3rem; }

        & ~ .nav-menu__item {
          z-index: -1;
          height: 0;
          opacity: 0;
          transition: all .5s;
        }
      }
    }
  }
}

@include respond(phone) {
  .checked {
    border-bottom: none;
    margin-top: .5rem;
    margin-bottom: 5rem;
    
    &::before {
      top: 3rem;
      left: .3rem;
      transform: rotate(135deg);
    }

    &::after {
      top: 3rem;
      left: -.4rem;
      transform: rotate(-135deg);
    }

    & ~ .nav-menu__item {
      opacity: 1;
      height: 4rem;
      z-index: 1;
      padding: .5rem 2vw;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}
