.section-cards {
  @include sectionStyle();

  &__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tab-land) {
      &--3 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $gap-width;
      }

      &--4 {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__header {
    margin-bottom: $gap-width;
  }

  &__card {
    display: grid;
    align-content: start;
  }

  &__title {
  }

  &__image {
    width: 100%;
    box-shadow: $shadow-low;
    justify-self: center;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.008) translate(0.2rem, -0.3rem);
      box-shadow: $shadow-high;
    }
  }

  &__content {
    @include contentStyle();
  }

  &__link {
    align-self: end;
  }

  &__empty-message {
    grid-column: span 4;
  }
}
