.donate-form {
  @include sectionStyle();

  &__thanks {
    text-align: center;
  }

  &__form {
    max-width: $max-text-width;
    margin: 0 auto;

    &--top {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: $gap-width;

      @include respond(tab-port) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
