.section-strip {
  @include sectionStyle();

  p {
    margin-bottom: $gap-width;
  }

  &__header {
    margin-bottom: $gap-width;
  }

  &__title {
  }

  &__post {
    margin-bottom: $gap-width * 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $gap-width;
    align-items: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__text {
    @include contentStyle();

    grid-column: span 1;
    height: 100%;
    padding-top: 0;
    order: 1;

    h3 {
      line-height: 1;
      padding-bottom: $gap-width;
    }

    @include respond(tab-port) {
      order: unset;
    }

    @include respond(tab-land) {
      grid-column: span 2;
    }

    &--wide {
      grid-column: span 3;
      max-width: $max-text-width;
    }
  }

  &__image {
    grid-column: span 1;

    width: 100%;
    box-shadow: $shadow-low;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.008) translate(0.2rem, -0.3rem);
      box-shadow: $shadow-high;
    }
  }
}
