@import 'src/sass/abstracts/_variables.scss';

.loader {
  width: 3rem;
  height: 3rem;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.3rem solid $color-white;
    border-color: $color-white $color-primary $color-white
      $color-primary;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
