*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  word-wrap: break-word;
}

html {
  font-size: 50%;

  // @include respond(tab-port) {
  //   font-size: 54.16%;
  // }
  // @include respond(tab-land) {
  //   font-size: 50%;
  // }
  // @include respond(desktop) {
  //   font-size: 50%;
  // }
}

body {
  box-sizing: border-box;
  background-color: $color-grey-light;
}
