.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-medium {
  margin-top: 5rem !important;
}
.u-margin-top-small {
  margin-top: 2rem !important;
}
.u-no-margin {
  margin: 0 !important;
}
.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-padding-top-big {
  padding-top: 8rem !important;
}
.u-padding-top-medium {
  padding-top: 5rem !important;
}
.u-padding-top-small {
  padding-top: 2rem !important;
}
.u-no-padding {
  padding: 0 !important;
}
.u-padding-bottom-small {
  padding-bottom: 2rem !important;
}
.u-padding-bottom-medium {
  padding-bottom: 5rem !important;
}
.u-padding-bottom-big {
  padding-bottom: 8rem !important;
}

.u-hidden {
  display: none !important;
}

.u-form-row {
  flex-direction: column;
  width: 100%;

  @include respond(tab-port) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  & > *:not(:first-of-type) {
    margin: 0;

    @include respond(tab-port) {
      margin-left: 2rem;
    }
  }
}

.button {
  @include buttonStyle();
}

.button-small {
  padding: 0.5rem 1.75rem !important;
  font-size: 1.2rem !important;
}

.button-primary {
  @include buttonStyle(primary);
}

.button-secondary {
  @include buttonStyle(secondary);
}

.button-tertiary {
  @include buttonStyle(tertiary);
}

.button-cta {
  @include buttonStyle(cta);
}

.button-edit {
  @include buttonStyle(edit);
}

.button-delete {
  @include buttonStyle(delete);
}
