.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-medium { margin-top: 5rem !important; }
.u-margin-top-small { margin-top: 2rem !important; }
.u-no-margin { margin: 0 !important; }
.u-margin-bottom-small { margin-bottom: 2rem !important; }
.u-margin-bottom-medium { margin-bottom: 5rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-padding-top-big { padding-top: 8rem !important; }
.u-padding-top-medium { padding-top: 5rem !important; }
.u-padding-top-small { padding-top: 2rem !important; }
.u-no-padding { padding: 0 !important; }
.u-padding-bottom-small { padding-bottom: 2rem !important; }
.u-padding-bottom-medium { padding-bottom: 5rem !important; }
.u-padding-bottom-big { padding-bottom: 8rem !important; }

.u-hidden { display: none !important; }

.u-form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include respond(phone) {
    flex-direction: column;
  }

  & > *:not(:first-of-type) {
    margin-left: 2rem;

    @include respond(phone) {
      margin: 0;
    }
  }
}