@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin sectionStyle {
  padding: 2rem 1.5rem;
  max-width: $max-section-width;
  margin: 0 auto;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    padding: 3.5rem 2.5rem;
  }

  @include respond(tab-land) {
    padding: 5rem 3.5rem;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin inputLabelStyle {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

@mixin inputBorderStyle {
  border-top: 0.1rem solid $color-grey;
  border-left: 0.1rem solid $color-grey;
  border-bottom: 0.1rem solid $color-grey-light;
  border-right: 0.1rem solid $color-grey-light;
  border-radius: 0.3rem;
}

@mixin contentStyle {
  padding-top: 1rem;
  letter-spacing: 0.1rem;

  p:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  ul,
  ol {
    margin-left: 4rem;
  }

  table {
    margin: 0 auto;
    min-width: 90%;
  }

  pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin-bottom: 3rem;
    background-color: $color-grey-light-2;
    padding: 1rem 2rem;
  }
}

// max-width: px / 16
@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media (min-width: 28.125em) {
      @content;
    } // 450px
  }
  @if $breakpoint == tab-land {
    @media (min-width: 46.875em) {
      @content;
    } // 750px
  }
  @if $breakpoint == desktop {
    @media (min-width: 65.625em) {
      @content;
    } // 1050px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 84.375em) {
      @content;
    } // 1350px
  }
}
