@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';
@import 'src/sass/base/_animations';

.blog {
  background-color: $color-grey-light;
  & > * {
    animation: fadeIn 0.6s ease-out;
  }
}

.searchBar {
  max-width: 50rem;
}
