@import 'src/sass/abstracts/_variables.scss';
@import 'src/sass/abstracts/_mixins.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  @include inputLabelStyle();
}

.labelSection {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
}

.input {
  height: 4rem;
  width: 100%;
  margin: 1rem 0;
  font-size: 2rem;
  color: $color-grey-dark;
}

.image {
  max-height: 30rem;
  max-width: 100%;
  margin: 3rem;
  align-self: center;
}

.editor {
  width: 100%;
  margin-top: 1rem;
}

.publish {
  margin: 3rem 0;
}

.checkbox {
  display: none;
}

.dot {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid $color-grey-dark;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-grey-light;
  transform: translateY(0.45rem);
  margin-left: 1rem;
  transition: all 0.2s;
}

.checkbox:checked + * > .dot {
  background-color: $color-primary;
}

.validation {
  color: $color-error;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
}
