.page-builder {
  padding: 5rem 20vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: end;

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__section-select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include respond(phone) {
      display: block;

      &--select {
        margin-bottom: 1rem;
      }
    }
  }


  &__css {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    &--label {
      @include inputLabelStyle();
    }

    &--textarea {
      @include inputBorderStyle();

      height: 15rem;
      resize: vertical;
      padding: 1rem;
      font-size: 1.6rem;
      color: $color-grey-dark;
      letter-spacing: .1rem;
    }
  }


  &__section-bottom {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid $color-grey;
    border-bottom: .1rem solid $color-grey;
    padding: 2rem 0;
    margin: 2rem 0;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;

      &--delete {
        margin-top: 1rem;
      }
    }
  }

  &__section {
    margin: 3rem 0;

    &--description {
      margin-bottom: 2rem;
    }

    &--inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      align-items: end;

      @include respond(phone) {
        grid-template-columns: 1fr;
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
    }

    &--move > * {
      font-size: 3rem;
      padding: .1rem 1.5rem;
      margin-right: 1rem;
    }
  }

  &__validation {
    text-align: center;
    color: red;
    font-style: italic;
    max-width: 40rem;
    margin: 0 auto;
  }

  &__preview {
    &--title {
      background-color: $color-grey-light;
      text-align: center;
      border-bottom: .1rem solid $color-grey;
    }
  }
}