@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';


.posts-show {
  @include sectionStyle();
}

.post {

  max-width: $max-text-width;
  margin: 0 auto;

  &__title {
    @include respond(tab-port) {
      letter-spacing: .4rem;
    }

    @include respond(phone) {
      // font-size: 2.5rem;
      letter-spacing: .3rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-end;

    & > em {
      margin-left: 1rem;
    }
  }

  &__image {
    max-width: 100%;
    width: 100%;
    padding-bottom: 2rem;
    max-height: 50rem;
    text-align: center;

    img, video {
      max-width: 100%;
      max-height: 40rem;
      object-fit: contain;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__content {
    @include contentStyle();
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 2rem;

      @include respond(phone) {
        padding: .5rem 1rem;
      }
    }
  }
}
