@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';

.main {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;

  @include sectionStyle();
  padding: 10rem 0;
  max-width: $max-text-width;
  margin: 0 auto;

  & > *:not(:first-child) {
    padding-bottom: 3.5rem;
  }
}

.login {
  text-align: center;
  padding: 8rem;
}

.credentials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-style: italic;
}

.logout, .unsubscribe {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.validation {
  color: $color-error;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-style: italic;
  margin-top: 1rem;
}
