.app-settings-form {

  display: flex;
  flex-direction: column;

  &__title {

  }

  &__verification {
    color: $color-tertiary;
  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    margin-right: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  &__label {
    letter-spacing: .1rem;
  }

  &__submit {
    margin-top: 2rem;
  }
}
