.button {
  padding: 1rem 3.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  border: .2rem solid $color-black;
  background-color: $color-white;
  color: $color-black;
  cursor: pointer;
  transition: all .3s;

  &-small {
    padding: .5rem 1.75rem;
    font-size: 1.2rem;
  }

  &:hover {
    color: $color-white;
    background-color: transparent;
    border: .2rem solid $color-white;
  }

  &-primary {
    border: .2rem solid $color-primary-3;
    color: $color-white;
    background-color: $color-primary-3;
    transition: all .3s;

    &:hover {
      color: $color-primary-3;
      background-color: transparent;
      border: .2rem solid $color-primary-3;
    }
  }

  &-secondary {
    border: .2rem solid $color-secondary-0;
    color: $color-white;
    background-color: $color-secondary-0;
    transition: all .3s;

    &:hover {
      color: $color-secondary-0;
      background-color: transparent;
      border: .2rem solid $color-secondary-0;
    }
  }

  &-tertiary {
    border: .2rem solid $color-tertiary-0;
    color: $color-white;
    background-color: $color-tertiary-0;
    transition: all .3s;

    &:hover {
      color: $color-tertiary-0;
      background-color: transparent;
      border: .2rem solid $color-tertiary-0;
    }
  }
}