.comment-form {
  width: 100%;

  &__text-editor {
    padding: 2rem;
    height: 15rem;
  }

  &__login {
    text-align: center;
  }

  &.detached {
    width: 50%;
    border-top: none;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 10;
    transform: translateZ(0);
    bottom: 1rem;
    right: 1rem;

    @include respond(phone) {
      width: 90%;
    }
  }

  &.detached > &__label {
    display: none;
  }

  &.detached > &__text-editor {
    margin: .5rem 0;
  }

  &.detached &__detach {
    font-weight: 700;
    border: .2rem solid $color-grey;
    background-color: rgba($color-grey, .2);
    padding: 0 1rem;
    line-height: 2;
    border-radius: .5rem;
  }

  &__label {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: .4rem;
    font-style: italic;
    margin: 1rem;
  }

  &__text-editor {
    width: 100%;
    margin: 3rem 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__detach {

    &--label {
      font-style: italic;
    }
  }

  &__checkbox {
    &--input {
      display: none;
    }

    &--span {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
      border: .2rem solid $color-grey-dark;
      border-radius: 50%;
      cursor: pointer;
      background-color: $color-grey-light;
      transform: translateY(.75rem);
      transition: all .2s;
    }

    &--input:checked + * > &--span {
      background-color: $color-primary;
    }
  }
}