.contact-form {

  &__header {
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__field {
    &--textarea {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @include respond(tab-port) {
      grid-column: span 2;
    }
  }

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  &__label {
    @include inputLabelStyle();
  }

  &__textarea {
    @include inputBorderStyle();
    height: 25rem;
    resize: vertical;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    font-family: 'Montserrat', 'Lato', sans-serif;
  }

  &__submit {
    grid-column: 1 / 3;
    justify-self: center;
  }

  &__validation {
    grid-column: 1 / 3;
    justify-self: center;
  }
}