.credit-card-form {

  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--number {
      grid-column: span 2;

      @include respond(phone) {
        grid-column: span 1;
      }
    }
  }

  &__label {
    @include inputLabelStyle();
  }

  &__input {
    @include inputBorderStyle();
    padding: 1rem;
    background-color: $color-white;
    margin-top: 1rem;
  }
}