.donate-form {
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  &__thanks {
    text-align: center;
    padding-top: 10rem;
  }
  
  &__container {
    max-width: $max-section-width;
    margin: 0 auto;
  }

  &__form {
    padding: 0 12rem;

    @include respond(tab-port) {
      padding: 0 10rem;
    }

    @include respond(phone) {
      padding: 0 5rem;
    }

    &--top {  
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }

  &__validation {
    color: $color-tertiary;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-style: italic;
    grid-column: span 2;

    @include respond(phone) {
      grid-column: span 1;
    }
  }

  &__submit {
    grid-column: span 2;
    justify-self: end;

    @include respond(phone) {
      grid-column: span 1;
    }
  }
}