.forgot-password {
  min-height: 44vh;
  margin-right: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {

  }

  &__content {

  }

  &__input {
    max-width: 40rem;
    margin: 0 auto;
  }

  &__validation {
    color: $color-error;
  }

  &__submit {
    align-self: flex-end;
  }
}