.header {

  @include sectionStyle();
  background: linear-gradient(45deg, lighten($color-primary, 10%), darken($color-primary, 30%));
  height: 40rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include respond(tab-land) {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  @include respond(phone) {
    padding: 6rem 0;
  }

  &__menu-item {

    &:not(:last-child) {
      border-right: .1rem solid $color-grey-light;
    }

    @include respond(phone) {
      letter-spacing: .2rem;
    }

    &--1 {
      animation: moveInRight 1s ease-out .3s;
      animation-fill-mode: backwards;
    }

    &--2 {
      animation: moveInRight 1s ease-out .6s;
      animation-fill-mode: backwards;
    }

    &--3 {
      animation: moveInRight 1s ease-out .9s;
      animation-fill-mode: backwards;
    }

    &--4 {
      animation: moveInRight 1s ease-out 1.2s;
      animation-fill-mode: backwards;
    }
  }

  &__menu-item:link,
  &__menu-item:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-grey-light;
    list-style-type: none;
    display: inline-block;
    letter-spacing: .3rem;
    padding: 1rem 2rem;
    transition: all .4s;

    &:hover {
      background-color: $color-grey-light;
      color: $color-grey-dark;
    }
  }
}