.input {

  width: 100%;

  &__label {
    @include inputLabelStyle();
  }

  &__input {
    height: 4rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    @include inputBorderStyle();
  }
}