.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 5rem;
  padding: 3rem 5rem;
  width: 40rem;

  background-color: $color-grey-light-2;
  color: $color-grey-dark;
  border-radius: .8rem;
  box-shadow: $shadow-high;

  &__validation {
    color: $color-tertiary;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-style: italic;
  }

  &__submit {
    align-self: flex-end;
    margin-top: auto;
  }
}