.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-grey-dark;
  background-color: rgba($color-grey-dark, 0.7);
  z-index: 10;
  transition: .3s;

  display: flex;
  justify-content: center;
  align-items: center;

  &--hidden {
    opacity: 0;
    z-index: -10;
    transition: .3s;
  }
  
  &__box {
    position: fixed;
    background-color: $color-grey-light;
    padding: 2rem;
    border: .1rem solid $color-grey;
    width: 50%;
    min-height: 50%;
    max-height: calc(100vh - 21rem);
    border-radius: .5rem;
    z-index: 100;
    overflow-y: auto;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__content {
    min-height: 44vh;
  }

  &__close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
  }
}