.modal {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-grey;
  background-color: rgba($color-grey-dark, 0.7);
  z-index: 10;
  transition: .3s;

  display: flex;
  justify-content: center;
  align-items: center;

  &--hidden {
    opacity: 0;
    z-index: -10;
    transition: .3s;
  }

  &__image {

    &--content {
      position: fixed;
      min-width: 50%;
      max-width: calc(100vw - 21rem);
      min-height: 50%;
      max-height: calc(100vh - 21rem);
      overflow-y: auto;
      z-index: 100;

      // Remove scrollbars
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 0;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }

      @include respond(tab-land) {
        width: 65%;
      }

      @include respond(tab-port) {
        width: 80%;
      }

      @include respond(phone) {
        width: 90%;
      }
    }

    &--clickable {
      cursor: pointer;
    }
  }
  
  &__box {
    position: fixed;
    background-color: $color-grey-light;
    padding: 2rem;
    border: .1rem solid $color-grey;
    width: 50%;
    min-height: 50%;
    max-height: calc(100vh - 21rem);
    border-radius: .5rem;
    z-index: 100;
    overflow-y: auto;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 80%;
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__content {
    min-height: 44vh;
  }

  &__close {
    background: none;
    border: none;
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 100;

    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}