.section-cards { 
  padding: 5%;
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  &__container {
    max-width: $max-container-width;
    margin: 0 auto;
  }

  &__list {
    margin-top: 3vw;
    list-style-type: none;

    display: grid;

    &--3 {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3vw;
    }

    &--4 {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3vw;

      @include respond(tab-land) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-gap: 5rem;
    }
  }

  &__header {
    @include respond(tab-port) {
      letter-spacing: .5rem;
    }

    @include respond(phone) {
      font-size: 3rem;
      letter-spacing: .3rem;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vh;

    @include respond(phone) {
      grid-gap: 4vh;
    }
  }

  &__title {
    letter-spacing: .1rem;
    font-size: 3rem;
    font-weight: 500;
  }

  &__image {
    width: 100%;
    box-shadow: $shadow-low;
    justify-self: center;
    backface-visibility: hidden;
    transition: all .2s ease-in-out;
    
    &:hover {
      transform: scale(1.008) translate(.2rem, -.3rem);
      box-shadow: $shadow-high;
    }

    @include respond(phone) {
      width: 70vw;
    }
  }

  &__content {
    @include contentStyle();
  }

  &__link {
    font-size: 2rem;
  }
}
