.section-maps {

  background-color: $color-grey-light;
  padding: 5rem 10rem;

  &__container {
    max-width: $max-container-width;
    margin: 0 auto;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include contentStyle();
    
    & > * {
      margin: 2rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }  
  }  

  @include respond(tab-land) {
    padding: 3rem 5rem;
  }  

  @include respond(tab-port) {
    flex-direction: column;
    padding: 2rem 3rem;
  }  

  &__text {
    flex: 1;
  }

  &__title {
    margin: 0 2rem;
  }

  &__subtext {

  }

  &__map {
    flex: 1;
    width: 100%;
    height: 60vh;
  }

  &__position {
    background-color: red;
    width: 1.3rem;
    height: 1.3rem;
    border: .1rem solid $color-black;
    border-radius: 50%;
  }
}