.section-standard {
  padding: 5rem 10vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;
  width: 100%;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }

  &__container {
    max-width: $max-container-width;
    margin: 0 auto;
  }

  p {
    margin-bottom: 3rem;
  }

  &__header {
    @include respond(tab-port) {
      letter-spacing: .5rem;
    }

    @include respond(phone) {
      font-size: 3rem;
      letter-spacing: .3rem;
    }
  }

  &__post {
    margin-bottom: 3rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    align-items: center;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    grid-column: span 2;

    @include contentStyle();

    @include respond(tab-port) {
      grid-column: span 1;
    }

    @include respond(phone) {
      order: 1;
    }

    &--wide {
      grid-column: span 3;
      max-width: $max-text-width;
      margin: 0 auto;
    }
  }

  &__image {
    grid-column: span 1;

    width: 100%;
    box-shadow: $shadow-low;
    backface-visibility: hidden;
    transition: all .2s ease-in-out;
    
    &:hover {
      transform: scale(1.008) translate(.2rem, -.3rem);
      box-shadow: $shadow-high;
    }

    @include respond(phone) {
      // order: 2;
      // width: 70vw;
      // justify-self: center;
      // margin-bottom: 5rem;
    }
  }
}