.user-list {

  &__list {
    list-style-type: none;
  }

  &__user {
    border-bottom: .1rem solid $color-grey;
    padding: .5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__check-info {
    
  }

  &__info {
    margin-left: 3rem;
    overflow: hidden;

    @include respond(phone) {
      margin-left: 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 0;
    z-index: -10;
    transition: .3s;
    
    &--visible {
      height: 11rem;
    }
  }

  &__options {
    .button {
      margin-left: .5rem;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .button {
        margin-left: 0;
        margin-bottom: 0.5rem;
      }
    }
  }
}
