@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';

.main {
  padding: 5rem 3vw;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(tab-land) {
    padding: 5rem 20vw;
    padding-bottom: 10rem;
  }
}

.page {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid $color-grey;
  padding: 1rem 0;

  @include respond(tab-port) {
    flex-direction: row;
    border: none;
    padding: 0;
  }
}

.linkDivider {
  display: none;

  @include respond(tab-port) {
    display: block;
    margin: 0 1rem;
  }
}
