body {
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  font-size: 1.6rem;
}

.heading-primary {
  color: $color-grey-light;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Raleway', sans-serif;

  &--main {
    font-size: 6.5rem;
    letter-spacing: .7rem;
    font-weight: 600;
    display: block;

    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 4.5rem;
      letter-spacing: .5rem;
    }
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: .5rem;
    font-weight: 500;
    display: block;

    animation: moveInLeft 1s ease-out .4s;
    animation-fill-mode: backwards;

    @include respond(tab-land) {
      margin-bottom: 2rem;
    }

    @include respond(phone) {
      letter-spacing: .3rem;
    }
  }
}

.heading-secondary {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  color: $color-grey-dark;
  letter-spacing: .4rem;
  line-height: 1;
}

.heading-tertiary,
.heading-tertiary--dark {
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  color: $color-grey-dark;

  &--light {
    color: $color-grey-light;
  }
}
