@import 'src/sass/abstracts/_variables.scss';
@import 'src/sass/abstracts/_mixins.scss';

.background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $color-grey;
  background-color: rgba($color-grey-dark, 0.7);
  z-index: 10;
  transition: 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  z-index: -10;
  transition: 0.3s;
}

.imageContent {
  position: fixed;
  min-width: 50%;
  max-width: calc(100vw - 21rem);
  min-height: 50%;
  max-height: calc(100vh - 21rem);
  overflow-y: auto;
  z-index: 100;

  // Remove scrollbars
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @include respond(tab-land) {
    max-width: 65%;
  }

  @include respond(tab-port) {
    max-width: 80%;
  }

  @include respond(phone) {
    max-width: 90%;
  }
}

.clickableImage {
  cursor: pointer;
}

.box {
  position: fixed;
  background-color: $color-grey-light;
  padding: 2rem;
  border: 0.1rem solid $color-grey;
  min-height: 50%;
  max-height: calc(100vh - 21rem);
  border-radius: 0.5rem;
  z-index: 100;
  overflow-y: auto;
  max-width: 50rem;
  width: 90%;

  @include respond(tab-port) {
    width: 75%;
  }

  @include respond(tab-land) {
    width: 60%;
  }

  @include respond(desktop) {
    width: 45%;
  }
}

.content {
  min-height: 44vh;
}

.close {
  background: none;
  border: none;
  float: right;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  z-index: 100;

  position: absolute;
  right: 1rem;
  top: 1rem;
}
