@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';


.section-maps {

  @include sectionStyle();

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gap-width;
    align-items: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    @include contentStyle();
    padding: 0;
  }

  &__title {
    margin-bottom: $gap-width;
  }
}