@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';

.main {
  background-color: $color-grey-light;
  padding: 5rem 2rem;

  @include respond(tab-port) {
    padding: 5rem 7rem;
  }

  @include respond(tab-land) {
    padding: 5rem 20rem;
  }
}

.title {
  text-align: center;
}

.form {
  max-width: 35rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.validation {
  color: $color-error;
}
