@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';

.header {
  background: linear-gradient(
    45deg,
    lighten($color-primary, 10%),
    darken($color-primary, 30%)
  );
  height: 40rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: $max-section-width;
  margin: 0 auto;
  height: 100%;
  padding: 6rem 0;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  @include respond(tab-port) {
    padding: 0 4rem;
  }

  @include respond(tab-land) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.item {
  &:not(:last-child) {
    border-right: 0.1rem solid $color-grey-light;
  }

  @include respond(phone) {
    letter-spacing: 0.2rem;
  }

  &1 {
    animation: moveInRight 1s ease-out 0.3s;
    animation-fill-mode: backwards;
  }

  &2 {
    animation: moveInRight 1s ease-out 0.6s;
    animation-fill-mode: backwards;
  }

  &3 {
    animation: moveInRight 1s ease-out 0.9s;
    animation-fill-mode: backwards;
  }

  &4 {
    animation: moveInRight 1s ease-out 1.2s;
    animation-fill-mode: backwards;
  }
}

.item:link,
.item:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey-light;
  list-style-type: none;
  display: inline-block;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
  transition: all 0.4s;

  &:hover {
    background-color: $color-grey-light;
    color: $color-grey-dark;
  }
}
