.admin-page {
  background-color: $color-grey-light;
  padding: 3rem 15vw;

  &__title {
    border-bottom: .1rem solid $color-grey;
  }

  &__links {
    display: flex;
    justify-content: center;

    border-bottom: .1rem solid $color-grey;
    padding-bottom: .1rem;
    background-color: $color-grey-light-2;
  }

  &__link {
    &:link,
    &:visited {
      padding: 1.2rem 2rem;
      text-decoration: none;
      color: $color-grey-dark;
      transition: all .4s;
      font-size: 2rem;
    }

    &:hover {
      background-color: $color-grey-light;
    }
  }
 
  &__forms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 2rem;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;

  &__title {

  }

  &__field {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    margin-right: 1rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  &__label {
    letter-spacing: .1rem;
  }

  &__submit {
    margin-top: 2rem;
  }
}

.users-form {

  &__list {
    list-style-type: none;
  }
}

.page-settings-form {
  grid-column: span 2;

  @include respond(phone) {
    grid-column: span 1;
  }

  &__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    margin-bottom: 2rem;

    @include respond(tab-port) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__group {
    margin-bottom: 1rem;
  }

  &__field {
    margin-left: 1rem;
  }

  &__label {
    letter-spacing: .1rem;
  }

  &__input {
    height: 3rem;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    border-radius: 1rem;
  }
}