.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5rem;
  background-color: $color-grey-light;

  &__button {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }
}