.contact-page {
  padding: 0 20vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;
  margin-top: -13rem;

  @include respond(tab-port) {
    padding: 5rem 10vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }
}
