.contact-page {
  padding: 0 20vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;
  margin-top: -13rem;

  @include respond(tab-port) {
    padding: 5rem 10vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }
}

.contact-form {

  &__header {
    margin-bottom: 3rem;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;

    &--textarea {
      grid-column: 1 / 3;

    }

    @include respond(tab-port) {
      grid-column: span 2;
    }
  }

  &__label {
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    font-style: italic;
    margin-left: 1rem;
  }

  &__input {
    height: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
  }

  &__textarea {
    height: 25rem;
    border-radius: 1rem;
    resize: vertical;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    font-family: 'Montserrat', 'Lato', sans-serif;
  }

  &__submit {
    grid-column: 1 / 3;
    justify-self: center;
  }

  &__validation {
    grid-column: 1 / 3;
    justify-self: center;
  }
}