.contact-page {

  padding: 5rem 10vw;
  padding-top: 0;
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    padding: 5rem 10vw;
    padding-top: 0;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-top: 0;
    padding-bottom: 10rem;
  }

  &__container {
    max-width: $max-text-width;
    margin: 0 auto;
  }
}

.contact-section-standard .section-standard__header {
  max-width: $max-text-width;
  margin: 0 auto;
}