.forgot-password-page {
  padding: 5rem 20rem;
  background-color: $color-grey-light;

  &__form {
    max-width: 35rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__validation {
    color: $color-error;
  }
}