.page-builder {
  background-color: $color-grey-light;
  padding: 10rem 30rem;

  &__section-select {
    display: flex;
    justify-content: space-between;

    &--select {

    }

    &--submit {

    }
  }

  &__section {
    margin: 2rem 0;
  }
}

.post-display {

}