.page-builder {
  padding: 5rem 20vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }

  &__section-select {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    @include respond(phone) {
      display: block;

      &--select {
        margin-bottom: 1rem;
      }
    }
  }

  &__section-bottom {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid $color-grey;
    border-bottom: .1rem solid $color-grey;
    padding: 2rem 0;
    margin: 2rem 0;

    @include respond(phone) {
      flex-direction: column;
      align-items: flex-start;

      &--delete {
        margin-top: 1rem;
      }
    }
  }

  &__section {
    margin: 2rem 0;
  }

  &__validation {
    text-align: center;
    color: red;
    font-style: italic;
    max-width: 40rem;
    margin: 0 auto;
  }

  &__preview {
    &--title {
      background-color: $color-grey-light;
      text-align: center;
      border-bottom: .1rem solid $color-grey;
    }
  }
}