.posts-show-page {
  padding: 5rem 10vw;
  padding-bottom: 10rem;
  background-color: $color-grey-light;

  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }

  &__container {
    max-width: $max-text-width;
    margin: 0 auto;
  }
}

.post {

  @include respond(tab-port) {
    padding: 2rem 4vw;
  }

  @include respond(phone) {
    padding: 2rem 1vw;
  }

  &__title {
    // border-bottom: .1rem solid $color-grey-dark;

    @include respond(tab-port) {
      letter-spacing: .4rem;
    }

    @include respond(phone) {
      // font-size: 2.5rem;
      letter-spacing: .3rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-end;

    & > em {
      margin-left: 1rem;
    }
  }

  &__image {
    max-width: calc(50% - 2rem);
    float: left;
    padding-right: 4rem;
    padding-top: 2rem;

    @include respond(tab-port) {
      max-width: calc(60% - 2rem);
    }

    @include respond(phone) {
      max-width: 100%;
      width: 100%;
      padding-right: 0;
      padding-bottom: 2rem;
    }

    img, video {
      max-width: 100%;
      max-height: 40rem;
      object-fit: contain;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__content {
    @include contentStyle();
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    & > * {
      margin-left: 2rem;

      @include respond(phone) {
        padding: .5rem 1rem;
      }
    }
  }
}

.comments {
  padding: 2rem 7rem;

  @include respond(tab-port) {
    padding: 2rem 4rem;
  }

  @include respond(phone) {
    padding: 2rem 0;
  }

  &__title {
    color: $color-grey-dark;
    border-bottom: .1rem solid $color-grey-dark;
  }

  &__none {
    text-align: center;
    padding-top: 2rem;
  }
}

.comment {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: .1rem solid $color-grey-dark;

  &__content {
    padding-top: 1rem;
    @include contentStyle();
  }

  &__author {
    font-style: italic;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;

    & > * {
      margin-right: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem;

    @include respond(tab-port) {
      padding: 2rem 4rem;
    }

    @include respond(phone) {
      padding: 2rem 0;
    }

  }

  &__editing {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;

    &--state {
      font-style: italic;
      margin-right: 1rem;
    }
  }
}