.posts-all-page {

  @include sectionStyle();
  padding-top: 0;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    border-bottom: .1rem solid $color-grey-dark;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      margin-bottom: 0;
      flex-direction: column;
    }
  }

  &__input {
    max-width: 40rem;
  }

  &__header {
    @include respond(phone) {
      letter-spacing: .3rem;
    }
  }
}