.profile-page {
  padding: 5rem;
  background-color: $color-grey-light;
  min-height: calc(100vh - 30rem);
  
  &__not-logged-in {
    font-weight: 400;
    font-size: 3rem;
    font-style: italic;
  }
}

.profile {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr;

  margin: 0 auto;
  max-width: $max-section-width;

  & > *:not(:last-child) {
    border-bottom: .1rem solid $color-grey-dark;
  }

  & > *:not(:first-child) {
    padding-bottom: 3.5rem;
  }

  &__credentials {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-style: italic;
  }

  &__logout {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  &__password-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    width: 100%;

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  &__validation {
    color: $color-tertiary;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
  }
}