@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';


.section-slideshow {

  position: relative;
  height: 100%;
  width: 100%;
  min-height: 65vh;
  display: block;

  &__button {
    margin: .2rem;
  }

  &__buttons {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: .6;
  }

  &__empty {
    padding: 5rem 10vw;
    padding-bottom: 10rem;

    @include respond(tab-port) {
      padding: 5rem 5vw;
      padding-bottom: 10rem;
    }

    @include respond(phone) {
      padding: 5rem 3vw;
      padding-bottom: 10rem;
    }
  }
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 1.5s ease;

  &--hidden {
    opacity: 0;
    transition: all 1.5s ease;
  }
}