.contact-form {

  @include sectionStyle();

  &__header {
    margin-bottom: 3rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: $max-text-width;
    margin: 0 auto;

    & > * {
      margin-bottom: 2rem;
    }
  }

  &__field {
    &--textarea {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    @include respond(tab-port) {
      grid-column: span 2;
    }
  }

  &__label {
    @include inputLabelStyle();
  }

  &__textarea {
    @include inputBorderStyle();
    height: 15rem;
    resize: vertical;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    font-family: 'Montserrat', 'Lato', sans-serif;
  }

  &__submit {
    align-self: flex-start;
  }

  &__validation {
    align-self: flex-start;
    color: $color-error;
  }
}