.admin-dashboard {
  display: grid;
  grid-template-columns: 1fr;

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 0.1rem solid $color-grey;
    padding-bottom: 0.1rem;
    background-color: $color-grey-light-2;
  }

  &__right {
    justify-self: center;
    grid-column: span 2;

    display: grid;
    grid-auto-flow: row;
    justify-items: start;

    @include respond(tab-port) {
      margin-left: 2rem;
    }

    & > * {
      margin-bottom: 2rem;
    }
  }
}
