.admin-dashboard {

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: .1rem solid $color-grey;
    padding-bottom: .1rem;
    background-color: $color-grey-light-2;
  }

  &__right {
    justify-self: center;
    grid-column: span 2;
    margin-left: 2rem;

    & > * {
      margin-bottom: 5rem;
    }
  }
}