.comments {

  &__title {
    color: $color-grey-dark;
    border-bottom: .1rem solid $color-grey-dark;
  }

  &__none {
    text-align: center;
    padding-top: 2rem;
  }
}

.comment {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: .1rem solid $color-grey-dark;

  &__content {
    @include contentStyle();
  }

  &__author {
    font-style: italic;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;

    & > * {
      margin-right: 2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__editing {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;

    &--state {
      font-style: italic;
      margin-right: 1rem;
    }
  }
}