.input {

  width: 100%;

  &__label {
    @include inputLabelStyle();
  }

  &__input, &__textarea {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    @include inputBorderStyle();

    &--invalid {
      border: .2rem solid $color-error;
    }
  }

  &__input {
    height: 4rem;
  }

  &__textarea {
    height: 10rem;
    resize: vertical;
  }

  &__checkbox {
    vertical-align: middle;
    height: 1.7rem;
    width: 1.7rem;
  }

  &__validation {
    font-size: 1.4rem;
    color: $color-error;
    margin-bottom: 1rem;
    font-style: italic
  }
}