.message-list {
  &__message {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid $color-grey;
  }

  &__date {
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &--name {
    }

    &--email {
    }
  }

  &__content {
    margin-top: 1rem;
  }
}
