.nav-menu {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;

  @include respond(tab-port) {
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    display: none;

    @include respond(tab-port) {
      display: block;
      max-width: 3rem;
      max-height: 3rem;
      cursor: pointer;
      margin: 0.5rem 1.5rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    @include respond(tab-land) {
      margin: 1.5rem 3rem;
    }
  }

  &__submenu {
    transition: all 0.3s;

    @include respond(tab-port) {
      & > .nav-menu__item:not(:first-of-type) {
        opacity: 0;
      }

      &:hover {
        .nav-menu__item {
          background-color: rgba($color-grey-dark, 0.6);
          opacity: 1;
        }
      }
    }
  }

  &__items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    font-size: 1.8rem;

    flex-direction: column;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: flex-start;
      width: auto;
    }
  }

  &__item {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: $color-grey-light-2;
    width: 100%;
    padding: 0;
    transition: all 0.3s;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-right: none;
      position: relative;

      @include respond(tab-port) {
        border-right: 0.1rem solid $color-grey-light;
      }
    }

    li {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      padding: 0.5rem 1.5rem;
    }

    @include respond(tab-land) {
      padding: 1.5rem 3rem;
    }

    &:hover:not(.nav-menu__item--hamburger) {
      background-color: $color-grey-light-2;
      color: $color-grey-dark-2;
    }

    &--hamburger {
      display: flex;
      margin: 3.5rem;
      margin-top: 2.5rem;

      &,
      &::before,
      &::after {
        display: block;
        border-bottom: 0.2rem solid $color-grey-light;
        width: 3rem;
        padding-bottom: 1rem;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }

      &::before {
        top: -1.2rem;
      }
      &::after {
        top: 1.3rem;
      }

      & ~ .nav-menu__item,
      & ~ .nav-menu__submenu {
        z-index: -1;
        height: 0;
        opacity: 0;
        transition: all 0.5s;

        @include respond(tab-port) {
          z-index: 1;
          height: auto;
          opacity: 1;
        }
      }

      @include respond(tab-port) {
        display: none;
      }
    }
  }
}

@media (max-width: 28.125em) {
  .checked {
    background-color: rgba($color-grey-dark, 0.9);

    // @include respond(tab-port) {
    //   background-color: transparent;
    // }

    .nav-menu__items {
      padding-bottom: 1rem;
    }

    .nav-menu__item--hamburger {
      border-bottom: none;
      margin-top: 0.5rem;
      margin-bottom: 5rem;

      &::before {
        top: 3rem;
        left: 0.3rem;
        transform: rotate(135deg);
      }

      &::after {
        top: 3rem;
        left: -0.4rem;
        transform: rotate(-135deg);
      }

      & ~ .nav-menu__item,
      & ~ .nav-menu__submenu > .nav-menu__item {
        opacity: 1;
        height: 4rem;
        z-index: 1;
        padding: 0.5rem 2rem;

        // @include respond(tab-port) {
        //   padding: 0.5rem 1.5rem;
        // }

        // @include respond(tab-land) {
        //   padding: 3rem 3rem;
        // }
      }

      & ~ .nav-menu__submenu {
        width: 100%;
        opacity: 1;
        z-index: 1;
        height: auto;
      }
    }
  }
}
