.nav-menu {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;

  @include respond(tab-port) {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: none;

    @include respond(tab-port) {
      display: block;
      max-width: 3rem;
      max-height: 3rem;
      cursor: pointer;
      margin: 0 1rem;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    font-size: 1.8rem;

    transition: 0.3s;

    flex-direction: column;
    align-items: center;
    width: 100%;

    @include respond(tab-port) {
      flex-direction: row;
      width: auto;
    }
  }

  &__item {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
    transition: all 0.4s;
    color: $color-grey-light-2;
    width: 100%;
    padding: 0;

    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-right: none;
      position: relative;

      @include respond(tab-port) {
        border-right: 0.1rem solid $color-grey-light;
      }
    }

    li {
      margin: 0 auto;
    }

    @include respond(tab-port) {
      padding: 0.5rem 2vw;
    }

    &:hover:not(.nav-menu__item--hamburger) {
      background-color: $color-grey-light-2;
      color: $color-grey-dark-2;
    }

    &--hamburger {
      display: flex;
      margin: 3.5rem;
      margin-top: 2.5rem;

      &,
      &::before,
      &::after {
        display: block;
        border-bottom: 0.2rem solid $color-grey-light;
        width: 3rem;
        padding-bottom: 1rem;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }

      &::before {
        top: -1.2rem;
      }
      &::after {
        top: 1.3rem;
      }

      & ~ .nav-menu__item {
        z-index: -1;
        height: 0;
        opacity: 0;
        transition: all 0.5s;

        @include respond(tab-port) {
          z-index: 1;
          height: auto;
          opacity: 1;
        }
      }

      @include respond(tab-port) {
        display: none;
      }
    }
  }
}

.checked {
  background-color: rgba($color-grey-dark, 0.9);

  @include respond(tab-port) {
    background-color: transparent;
  }

  .nav-menu__item--hamburger {
    border-bottom: none;
    margin-top: 0.5rem;
    margin-bottom: 5rem;

    &::before {
      top: 3rem;
      left: 0.3rem;
      transform: rotate(135deg);
    }

    &::after {
      top: 3rem;
      left: -0.4rem;
      transform: rotate(-135deg);
    }

    & ~ .nav-menu__item {
      opacity: 1;
      height: 4rem;
      z-index: 1;
      padding: 0.5rem 2vw;

      &:last-of-type {
        margin-bottom: 1rem;

        @include respond(tab-port) {
          margin: 0;
        }
      }
    }
  }
}
