.post-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  border-bottom: 0.1rem solid $color-grey-dark;
  padding-bottom: 2rem;
  color: $color-grey-dark;

  &:not(:first-of-type) {
    padding-top: 1rem;

    @include respond(tab-port) {
      padding-top: 3rem;
    }

    @include respond(tab-land) {
      padding-top: 5rem;
    }
  }

  &__image {
    display: none;

    @include respond(tab-port) {
      display: block;
      max-width: 33.333333%;
      height: 100%;
      margin-right: 3rem;
      align-self: center;
    }

    img,
    video {
      max-width: 100%;
      max-height: 25rem;
      border-radius: 0.5rem;
      margin-left: auto;
    }
  }

  &__details {
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    border-bottom: 0.1rem solid $color-grey-dark;
  }

  &__tags {
  }

  &__content {
    border-left: none;
    margin: 2rem 0;
    padding-left: 3rem;
    @include contentStyle();

    @include respond(tab-port) {
      border-left: 0.1rem solid $color-grey-dark;
    }
  }

  &__link {
    align-self: flex-end;
    margin-top: auto;
  }
}
