.post-form {

  @include sectionStyle();

  &__form {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    @include inputLabelStyle();
  }

  &__label-section {
    display: flex;
    align-items: center;

    & > * {
      margin-right: 2rem;
      display: flex;
      align-items: center;
    }
  }

  &__input {
    height: 4rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 2rem;
    color: $color-grey-dark;
    letter-spacing: .1rem;
    @include inputBorderStyle();
  }

  &__image {
    max-height: 30rem;
    max-width: 100%;
    margin: 3rem;
    align-self: center;
  }

  &__text-editor {
    width: 100%;
    margin-top: 1rem;
  }

  &__publish {
    margin: 3rem 0;
  }

  &__checkbox {
    &--input {
      display: none;
    }

    &--span {
      display: inline-block;
      width: 2.5rem;
      height: 2.5rem;
      border: .2rem solid $color-grey-dark;
      border-radius: 50%;
      cursor: pointer;
      background-color: $color-grey-light;
      transform: translateY(.75rem);
      margin-left: 2rem;
      transition: all .2s;
    }

    &--input:checked + * > &--span {
      background-color: $color-primary;
    }
  }

  &__validation {
    color: $color-error;
    padding-top: 2rem;
    text-align: center;
    width: 100%;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
  }
}