@import 'src/sass/abstracts/_variables.scss';

.container {
  width: 100%;
  height: 40rem;
  max-width: $max-text-width;
  margin: 0 auto;
}

.position {
  background-color: red;
  width: 1.3rem;
  height: 1.3rem;
  border: 0.1rem solid $color-black;
  border-radius: 50%;
}
