@import 'src/sass/abstracts/_mixins.scss';
@import 'src/sass/abstracts/_variables.scss';


.admin-page {

  background-color: $color-grey-light;
  padding: 5rem 15vw;

  @include respond(tab-port) {
    padding: 5rem 5vw;
    padding-bottom: 10rem;
  }

  @include respond(phone) {
    padding: 5rem 3vw;
    padding-bottom: 10rem;
  }

  &__title {
    border-bottom: .1rem solid $color-grey;
  }
}
