.section-media {

  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  &--fixed {
    min-height: 80vh;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: .2rem .2rem $color-black;
    width: 75%;
    z-index: 10;

    a {
      &:link,
      &:visited {
        padding: 1rem 3.5rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 1.5rem;
        cursor: pointer;
        border-radius: .3rem;
        text-decoration: none;
        text-shadow: none;
        border: .2rem solid $color-cta;
        color: $color-white;
        background-color: $color-cta;
        transition: all .3s;

        &:hover {
          color: $color-cta;
          background-color: transparent;
          border: .2rem solid $color-cta;
        }
      }
    }
  }

  &__title {
    font-size: 4rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__subtext {
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__media {
    height: 100%;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
    margin-bottom: -1rem;

    &--fixed {
      min-height: 80vh;
      min-width: 100%;
      position: relative;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  }

  &__empty {
    padding: 5rem 10vw;
    padding-bottom: 10rem;

    @include respond(tab-port) {
      padding: 5rem 5vw;
      padding-bottom: 10rem;
    }

    @include respond(phone) {
      padding: 5rem 3vw;
      padding-bottom: 10rem;
    }
  }
}

.section-image {
  opacity: 1;
}