.section-slideshow {

  position: relative;
  height: 100%;
  width: 100%;
  min-height: 65vh;
  background-color: $color-grey-light;
  display: block;

  &__button {
    margin: .2rem;
  }

  &__buttons {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: .6;
  }

  &__empty {
    padding: 5rem 10vw;
    padding-bottom: 10rem;
    background-color: $color-grey-light;

    @include respond(tab-port) {
      padding: 5rem 5vw;
      padding-bottom: 10rem;
    }

    @include respond(phone) {
      padding: 5rem 3vw;
      padding-bottom: 10rem;
    }
  }
}

.slide {
  position: absolute;
  background-color: $color-grey-light;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all 1.5s ease;

  &--hidden {
    opacity: 0;
    transition: all 1.5s ease;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: .2rem .2rem $color-black;
    width: 75%;
    z-index: 100;
  }

  &__title {
    font-size: 4rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__subtext {
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  &__media {
    height: 100%;
    max-height: 80vh;
    width: 100vw;
    object-fit: cover;
    margin-bottom: -1rem;
  }
}